<section id="portfolio-section" class="portfolio-section section">
    <h2 class="section-title">Projects</h2>
    <ul id="filters" class="filters clearfix">
        <li class="type active" data-filter="*">All</li>
        <li class="type" data-filter=".backend">Back-end</li>
        <li class="type" data-filter=".frontend">Front-end</li>
    </ul><!--//filters-->

    <div class="items-wrapper isotope row">
        <div class="item frontend col-md-4 col-xs-8 ">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-responsive" src="../../../assets/static/images/portfolio/nit.png" alt="NIT Photography Image" style="height: 160px; width: 100%;" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">NIT Photography</h3>
                    <div class="meta"><u style="text-decoration: none;"> Technologies: Bootstrap4,HTML5,CSS,JavaScript & PHP.</u>
                    </div>
                    <div class="action"><a href="https://nps.thenitgroup.com/" target="_blank">View Website</a></div>
                </div><!--//content-->
                <a class="link-mask" href="https://nps.thenitgroup.com/" target="_blank"></a>
            </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item frontend col-md-4 col-xs-8 ">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-responsive" src="../../../assets/static/images/portfolio/apex.png" alt="Apex Image" style="height: 160px; width: 100%;" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">Apex Research Consulting</h3>
                    <div class="meta"><u style="text-decoration: none;"> Technologies: Bootstrap4,HTML5,CSS,JavaScript,PHP & Live Chat.</u>
                    </div>
                    <div class="action"><a href="https://apexresearchconsulting.com/" target="_blank">View Website</a></div>
                </div><!--//content-->
                <a class="link-mask" href="https://apexresearchconsulting.com/" target="_blank"></a>
            </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item frontend col-md-4 col-xs-8 ">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-responsive" src="../../../assets/static/images/portfolio/nitgroup2.png" alt="NIT Group Image" style="height: 160px; width: 100%;" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">The NIT Group</h3>
                    <div class="meta"><u style="text-decoration: none;"> Technologies: Bootstrap4,HTML5,CSS,JavaScript & PHP.</u>
                    </div>
                    <div class="action"><a href="https://thenitgroup.com/" target="_blank">View Website</a></div>
                </div><!--//content-->
                <a class="link-mask" href="https://thenitgroup.com/" target="_blank"></a>
            </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item backend frontend col-md-4 col-xs-8 ">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-responsive" src="../../../assets/static/images/portfolio/chatapp.png" alt="Chat App Image" style="height: 160px; width: 100%;" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">Live Chat App</h3>
                    <div class="meta"><u style="text-decoration: none;"> Technologies: Angular,Bootstrap4,HTML5,CSS,JavaScript,<br>TypeScript & Firebase</u>
                    </div>
                    <div class="action"><a href="https://github.com/meluleki071213/live-chat-app" target="_blank">View on GitHub</a></div>
                </div><!--//content-->
                <a class="link-mask" href="https://github.com/meluleki071213/live-chat-app" target="_blank"></a>
            </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item backend frontend col-md-4 col-xs-8 ">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-responsive" src="../../../assets/static/images/portfolio/myprofile.png" alt="My Profile Image" style="height: 160px; width: 100%;"/>
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">My Profile</h3>
                    <div class="meta"><u style="text-decoration: none;"> Technologies: Angular,Bootstrap4,HTML5,CSS,JavaScript,<br>TypeScript & Live Chat.</u>
                    </div>
                    <div class="action"><a href="" target="_blank">View Website</a></div>
                </div><!--//content-->
                <a class="link-mask" href="" target="_blank"></a>
            </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item backend col-md-4 col-xs-8 ">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-responsive" src="../../../assets/static/images/portfolio/go-mongo.png" alt="Mongo + Go Image" style="height: 160px; width: 100%;"/>
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">Go + MongoDB RestApi</h3>
                    <div class="meta"><u style="text-decoration: none;"> Technologies: Go,Mux & MongoDB</u>
                        <br><br>
                        <p></p>
                    </div>
                    <div class="action"><a href="https://github.com/meluleki071213/goMongoService" target="_blank">View on GitHub</a></div>
                </div><!--//content-->
                <a class="link-mask" href="https://github.com/meluleki071213/goMongoService" target="_blank"></a>
            </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item backend col-md-4 col-xs-8 ">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-responsive" src="../../../assets/static/images/portfolio/node.jpeg" alt="Node + Mongo Image" style="height: 160px; width: 100%;"/>
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">Node.js API Authentication With JWT</h3>
                    <div class="meta"><u style="text-decoration: none;"> Technologies: Node.js,Express & MongoDB</u>
                        <br><br>
                        <p></p>
                    </div>
                    <div class="action"><a href="https://github.com/meluleki071213/node-auth" target="_blank">View on GitHub</a></div>
                </div><!--//content-->
                <a class="link-mask" href="https://github.com/meluleki071213/node-auth" target="_blank"></a>
            </div><!--//item-inner-->
        </div><!--//item-->
    
    </div><!--//item-wrapper-->
</section><!--//section-->