<section id="education-section" class="education-section section">
    <h2 class="section-title">Education</h2>
    <div class="row">

        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">University of KwaZulu-Natal</h3>
                <div class="education-body"><br>
                   Bachelor of Commerce (Honours) in Information Systems
                </div><!--//education-body-->
                <div class="time">2017 - 2017</div>
            </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">University of KwaZulu-Natal</h3>
                <div class="education-body"><br>
                   Bachelor of Science in Computer Sciences & Information Technology
                </div><!--//education-body-->
                <div class="time">2013 - 2016</div>
            </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <h3 class="degree">Mconjwana High School</h3>
                <div class="education-body"><br>
                            National Senior Certificate
                </div><!--//education-body-->
                <div class="time">2008 - 2012</div>
            </div><!--//item-inner-->
        </div><!--//item-->
        
    </div><!--//row-->
</section><!--//section-->