<section id="experiences-section" class="experiences-section section">
    <h2 class="section-title">Work Experiences</h2>
    <div class="timeline">

        <div class="item">
            <div class="work-place">
                <h3 class="place"><b>Full Stack Web Developer ,Standard Bank SA</b></h3>
            </div>
            <div class="job-meta">
                <div class="title">Full Stack</div>
                <div class="title">Web Developer</div>
                <div class="time">January, 2019- Present</div>
            </div><!--//job-meta-->
            <div class="job-desc">
                <ul>
                  <li>Develop and maintaining web applications using Angular or Vue.js.</li>
                  <li>Develop and maintaining mobile applications using ionic/cordova.</li>
                  <li>Creating automated deployment pipelines(CI/CD) to deploy from Gitlab to Openshift.</li>
                  <li>Creating SQL (Oracle DB) and NoSQL (MongoDB) databases for storing data.</li>
                </ul>
            </div><!--//job-desc-->
        </div><!--//item-->

        <div class="item">
            <div class="work-place">
                <h3 class="place"><b>Test Automation Engineer (Graduate) ,Standard Bank SA</b></h3>
            </div>
            <div class="job-meta">
                <div class="title">Test Automation</div>
                <div class="title">Engineer (Graduate)</div>
                <div class="time">January, 2018- January 2019</div>
            </div><!--//job-meta-->
            <div class="job-desc">
                <ul>
                  <li>Writing Automation scripts for web using selenium or LeanFT.</li>
                  <li>Writing Automation scripts for IBM 3270 using LeanFT or UFT.</li>
                  <li>Preparing test cases for modules that need automation.</li>
                </ul>
            </div><!--//job-desc-->
        </div><!--//item-->

        <div class="item">
            <div class="work-place">
                <h3 class="place"><b>Freelancer Consultant ,What3Words</b></h3>
            </div>
            <div class="job-meta">
                <div class="title">Freelancer Consultant</div>
                <div class="time">July, 2017- December 2017</div>
            </div><!--//job-meta-->
            <div class="job-desc">
                <ul>
                  <li>Creating Zulu words to be added on the what3words map.</li>
                  <li>Translating English words to Zulu.</li>
                </ul>
            </div><!--//job-desc-->
        </div><!--//item-->

    </div><!--//timeline-->
</section><!--//section-->