<section id="contact-section" class="contact-section section">
    <h2 class="section-title">Get in Touch</h2>
    <div class="intro">
        <img class="profile-image" src="../../../assets/static/images/hero-img.png" alt="Meluleki's profile image">
        <div class="dialog">
            <p>I'm currently working fulltime as Full Stack Developer for <a href="" target='_blank'>Standard Bank SA</a>, but I am always open to new opportunities and open to any ideas of cooperation</p>
            <p><strong>I can help with the following:</strong></p>
            <ul class="list-unstyled service-list">
                <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with Go or Java</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Front-end development using Angular or VueJs</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Mobile Application development using ionic/cordova</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Publishing Webites on Servers </li>
                <li><i class="fa fa-check" aria-hidden="true"></i>Bulding deployment pipelines for applications</li>
            </ul>
            <p>Drop me a line at <a href="mailto:meluleki071213@gmail.com">meluleki071213@gmail.com</a> or call me at <a href="tel:+27721818053">072 181 8053</a></p>
            <ul class="social list-inline">
                <li><a href="https://www.linkedin.com/in/meluleki-madlala-54a35490/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/meluleki071213" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.facebook.com/melu.maplay" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
        </div><!--//diaplog-->
    </div><!--//intro-->
</section><!--//section-->